* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
button,
input {
  background: transparent;
  border: none;
  font: inherit;
  color: #fff;
}
input {
  text-align: center;
}
input:focus {
  outline: none;
}
button {
  cursor: pointer;
}
table,
tr,
td {
  border: 2px solid #fff;
  border-collapse: collapse;
}
td {
  padding: .5rem 1rem;
  text-align: center;
}

::selection {
  background: #f00;
  color: #000;
}
table {
  margin-bottom: 150px;
}

.label {
  font-size: 1.125rem;
  text-decoration: none;
  cursor: pointer;
}

.thead {
  background: #f00;
}
.tbody .row:nth-child(even) {
  background: #3f3f3f;
}
.row {
  position: relative;
}
.row__button {
  padding: 0.5rem 0.75rem;
  position: absolute;
  top: 50%;
  right: -10%;
  transform: translate(100%, -50%);
  border: 1px solid #fff;
  border-radius: 8px;
  transition: 0.4s ease-in-out;
}
.row__button:hover {
  background: #fff;
  color: #000;
  box-shadow: 0 0 5px #fff; 
}
.striped {
  text-decoration: line-through;
  color: rgba(255, 255, 255, 0.5);
}
.input[type=checkbox] {
  display: none;
}

.button {
  font-size: 0.875rem;
}
.number {
  font-size: 2rem;
  font-weight: 600;
}

/** ===== ADDING ===== */

.adding > * {
  margin-bottom: 60px;
}
.adding__input {
  margin-bottom: 30px;
  border-bottom: 1px solid #fff;
  text-align: left;
}
.adding__button {
  padding: 10px;
  border: 1px solid #fff;
  transition: 0.4s ease-in-out;
}
.adding__button:hover {
  background: #fff;
  color: #000;
  box-shadow: 0 0 5px #fff; 
}

/** ===== /ADDING ===== */