.control > * {
    margin-bottom: 60px;
}
.control__list {
    display: flex;
    gap: 3rem;
}
.control__item {
    display: flex;
    gap: 10px;
}
.control__input {
  margin-bottom: 30px;
  border-bottom: 1px solid #fff;
  text-align: left;
}
.control__button {
  padding: 10px;
  border: 1px solid #fff;
  transition: 0.4s ease-in-out;
}
.control__button:hover {
  background: #fff;
  color: #000;
  box-shadow: 0 0 5px #fff; 
}