* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #000;
  color: #fff;
  font: 1.25rem
        monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}