* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #000;
  color: #fff;
  font: 1.375rem
        monospace;
  min-height: 100vh;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1370px;
}
.details .container {
  padding-bottom: 40px;
}
.details__desc {
  color: #FCB514;
}

@media (max-width: 576px) {
  body {
    font-size: 1.25rem;
  }
  #root {
    overflow-x: auto;
  }
}