* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #000;
  color: #fff;
  font: calc(1.25rem + 0.125 * (100vw - 20rem) / 100)
        monospace;
  min-height: 100vh;
}
.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1370px;
}
.container:first-of-type {
  margin-top: 50px;
}
.main-title {
  font-size: calc(1.75rem + ((100vw - 20rem) / 100));
  font-weight: 500;
}
.details .container {
  padding-bottom: 40px;
}
.details__list {
  color: #FCB514;
}
.details__item:not(:last-child) {
  margin-bottom: 1rem;
}

@media (max-width: 576px) {
  #root {
    overflow-x: auto;
  }
}